body{
    height: 100vh;
    width: 100vw;
    background-image: url(palm-and-pier.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    font-family: 'Open Sans', sans-serif;
}


.principal{
    border: 1px solid aliceblue;
    height: 30em;
    width: 28em;
    box-sizing: border-box;
    margin: auto;
    background-color: rgba(7, 7, 8, 0.95);
    border-radius: 1%;
    box-shadow: 5px 5px 15px #181717;  
}
div .eu{
    display: flex;
    height: 40%;
    width: 100%;
    box-sizing: border-box;
}
.eu img{
    height: 80%;
    width: 32%;
    border-radius: 50%;
    border: 2px solid black;
    margin: auto;
}

.texto{
    color: aliceblue;
    opacity: .7;
    text-align: center;
    font-size: 80%;
    line-height: 1.6em;
}
.texto h1{
    font-size: 150%;
}
.icones{
    display: inline;
}

.icones a{
    text-decoration: none;
    padding: 1%;
}

.icones a i{
    color: aliceblue;
    opacity: .7;
    font-size: 250%;
    transition: all .5s ease-out;
}

.icones a i:hover{
    opacity: 10;
    cursor: pointer;
    color: white;
}

.logos{
    width: 100%;
    height: 100%;
}

.logos div{
    margin: auto;
    padding: 2%;
}

.logos div img{
    width: 12%;
    height: 50%;
    padding: 2%;
}
footer{
    position: fixed; 
    box-sizing: border-box;
    bottom: 1%;
    clear: both;   
    width: 100%;
    height: 15px;
    text-align: right;
}

footer span{
    padding-right: 5%;

}
footer p{
    display: inline;
    color: aliceblue;
    opacity: .7;
    font-size: 65%;
    padding-left: 2px;
    border-left: solid 2px rgba(240, 248, 255, .7);
}
footer p:first-child{
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
}
@-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
}
@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fadeIn {
    -webkit-animation: fadeIn 4s ease-in-out;
    -moz-animation: fadeIn 4s ease-in-out;
    -o-animation: fadeIn 4s ease-in-out;
    animation: fadeIn 4s ease-in-out;
}

.fadeImg {
    opacity:0;
    -webkit-animation: fadeIn 3s ease-in-out;
    -moz-animation: fadeIn 3s ease-in-out;
    -o-animation: fadeIn 3s ease-in-out;
    animation: fadeIn 3s ease-in-out; 
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -o-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}
    
.fadeImg-delay {	
    -webkit-animation-delay:2s;
    -moz-animation-delay:2s;
    -o-animation-delay:2s;
    animation-delay:2s;
}

.italico{
    font-style: italic;
}

@media screen and (max-width: 1920px){
    .principal{
        height: 28em;
        width: 23em;
    }
    .eu img{
        height: 70%;
        width: 35%;
        margin: auto;
    }    
}

@media screen and (max-width: 1300px){
    .principal{
        height: 26em;
        width: 23em;
    }
    .eu img{
        height: 75%;
        width: 35%;
        margin: auto;
    }    
}

@media screen and (max-width: 720px){
    body{
        overflow: hidden;
    }
    .principal{
        height: 25em!important; 
        width: 80%!important;
    }
    .eu img{
        height: 75%;
        width: 40%;
        margin: auto;
    }
    .texto{
        font-size: 65%;
    }
    .texto h1{
        font-size: 150%;
    }
    footer p{
        border-left: solid 1px rgba(240, 248, 255, .7);
        font-size: 35%;    
    }
    .logos div img{
        width: 15%;
        height: 50%;
        padding: 3%;
    }
}

